body {
    height: 100vh;
    background-color: bisque;
}

.color-buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.table {
    display: flex;
    justify-content: center;
}

#grid {
    width: 40%;
    aspect-ratio: 1/1;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    /*width: calc(100%/16 - 2px);*/
    background-color: aliceblue;
    aspect-ratio: 1/1;
    padding: 0px;
}